<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <probing privatePath="modules"/>
      </assemblyBinding>
	  <appDomainManagerAssembly value="AppDomainInjection, Version=0.0.0.0, Culture=neutral, PublicKeyToken=4d3cbbf725cc8614" />  
	  <appDomainManagerType value="MyAppDomainManager" /> 
	  <etwEnable enabled="false"/>
   </runtime>
</configuration>